@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 10, 10, 10;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: radial-gradient(circle at 0 0, #1f2937 0, #020617 45%, #020617 100%);
  min-height: 100vh;
}
